[Unit]
Description=Flatpak Automatic Update Trigger
Documentation=man:flatpak(1)

[Timer]
RandomizedDelaySec=10m
OnCalendar=*-*-* 05:30:00 UTC
Persistent=true

[Install]
WantedBy=timers.target
